<div id="contacts">
    <a href="mailto:nibrasramzy18@gmail.com" target=”_blank” style="text-decoration: none;">💌<span style="text-decoration: underline;">email me</span></a>
    <a href="https://ramjing.itch.io" target=”_blank” style="text-decoration: none;">🎮<span style="text-decoration: underline;">play my games</span></a>
    <a href="https://github.com/iniberas" target=”_blank” style="text-decoration: none;">😸<span style="text-decoration: underline;">my gh profile</span></a>
    <a href="/blog" style="text-decoration: none;">📝<span style="text-decoration: underline;">my blog</span></a>
</div>